table{
    width: 5px;
    
}
/*body {
    background-color: rgba(0, 128, 0, 0.815);
}*/
table,th,td{
    border: 5px solid black;
}
tr:hover{
    background-color: rgba(147, 145, 145, 0.974);
}
td{
    text-align: center;
    height: 30px;
}
th{
    height: 40px;
}
#di{
    margin-top: 50px;
}

